<div style="text-align: center;">
  <ul class="navigation" style="display: block;">
    <li><a href="/" title="Home">Home</a></li>
    <li><a href="/buscausuarios" title="Busca Usuários">Busca usuário</a></li>
    <li><a href="#" title="Buscar Evento">Buscar Evento</a>
      <ul>
        <li><a href="/buscaevento/data" title="Por data">Por Data</a></li>
        <li><a href="/buscaevento/distancia" title="Por Distância">Por Distância</a></li>
      </ul>
    </li>
    <li><a href="/cadastrausuario" title="Cadastrar Usuário">Cadastrar Usuário</a></li>
    <li><a href="/buscavagas" title="Busca Vagas">Buscar Vagas</a></li>
    <li><a href="/mostrartabela" title="Mostrar Tabela">Mostrar Tabela</a></li>
    <div class="clear"></div>
  </ul>
</div>